@CHARSET "UTF-8";
#header{
	background:gray url(../images/top_bg.jpg);
	height:128px;
}
#container{
	width:1002px;
}
#nav li{
	float:left;
	width:90px;
	text-align:center;
}
#nav a{
	color:#363636;
	font-size:15px;
	font-family:"微软雅黑";
	display:block;
	width:90px;
	height:37px;
}
#nav a:hover{
	color:white;
	background:url(../images/nav_on.gif);
}
#main{
	
}
#lside{
	height:478px;
	width:694px;
	border:1px solid gray;
	float:left;
}
#rside{
	height:600px;
	width:294px;
	border:1px solid gray;
	float:left;
}
.subtitle{
	height:37px;
	background:gray url(../images/index_main_top_bg.gif);
}
.subtitle img{
	margin:5px 0px 0px 10px;
	float:left;
}
.subtitle h1{
	float:left;
	margin-left:10px;
	font-size:16px;
	font-family:"微软雅黑", "黑体";
}
.subtitle a{
	font-size:12px;
	color:gray;
	float:right;
}
.four{
	width:326px;
	height:200px;
	background:#EEE;
	float:left;
	margin:10px;
}
.four img{
	float:left;
	margin-left:10px;
	padding:5px;
	background:white;
}
.four ul{
	float:left;
	margin-left:10px;
}
.four li{
	background:url(../images/service_intro_bg.gif) no-repeat;
	padding-left:10px;
	height:20px;
}
.four h2{
	margin:6px 0px 6px 10px;
	font-size:16px;
	font-family:"微软雅黑", "黑体", sans-serif;
}
.four a{
	color:gray;
}
.four a:hover{
	color:gray;
}
#art{
	background:#EEE;
	margin-top:1px;
	padding-top:5px;
}
#art a{
	display:block;
	padding-left:30px;
	height:29px;
	background:url(../images/article_head.gif) no-repeat;
	
}
#contact{
	margin-top:1px;
	height:194px;
	background:#EEE;
}
#footer{
	background:green;
	height:120px;
}

.clear{
	clear:both;
	width:0px;
	height:0px;
}