@CHARSET "UTF-8";
body{
	background:#000;
	color:#FFF;
	text-align:center;
}

h2{
	color:#EEE;
}

@media (max-height:480px){
	body{
		background:#e9a369;
	}
}

@media (max-device-height:1000px){
	body{
		background:#6cd2c6;
	}
}