@CHARSET "UTF-8";
header{
	background:url(03-pad-header.png);
}
h2{
	color:#E0F;
	font-size:3em;
}
section#container{
	width:600px;
}
#left{
	width:160px;
	background:url(03-pad-left.png);
}
section#main{
	width:430px;
	background:url(03-pad-main.png);
}
#right{
	display:none;
}
footer{
	background:url(03-pad-footer.png);
}