@CHARSET "UTF-8";
header{
	background:url(03-phone-header.png);
}
h2{
	color:blue;
	font-size:2em;
}
section#container{
	width:400px;
}
#left{
	float:left;
	width:100%;
	line-height:100px;
	display:none;
}
section#main{
	float:left;
	width:100%;
	line-height:300px;
	background:url(03-phone-main.png);
}
#right{
	float:left;
	width:100%;
	line-height:100px;
	margin-left:0;
	display:none;
}
footer{
	background:url(03-phone-footer.png);
}