@CHARSET "UTF-8";
section{

}
.container{
	width:960px;
	margin:0 auto;
}

#header, #nav, #main, #rside, #footer{
	height:100px;
	background:#EEE;
	line-height:100px;
	margin-bottom:20px;
}

#main, #rside{
	height:300px;
	float:left;
}

#main{
	width:620px;
	margin-right:20px;
	background:#ddefcb;
}

#rside{
	width:320px;
	background:#ffcbdd;
}

#footer{
	clear:both;
}